// on boarding

.paddword-input {
  position: relative;

  .form-group-append {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;

    img {
      width: 23px;
    }
  }
}

// spinner
.sweet-loading {
  background: #ffffff42;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: relative;
  }

  img {
    width: 200px;
  }
}

// === modal
.show-modal {
  align-items: center;
  display: flex;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #0003;
  --bs-backdrop-opacity: 0.5;
  background-color: var(--bs-backdrop-bg);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--bs-backdrop-zindex);
}
.form-group-append {
  position: absolute;
  right: 1.5rem;
  top: 1.7rem;
  img {
    cursor: pointer;
    width: 19px;
  }
}
.modal-checkbox {
  align-items: center;
  margin-left: 3px;
}
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  cursor: pointer;
  .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    white-space: nowrap;
    margin-left: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  &:hover .tooltiptext {
    visibility: visible;
  }
}
